<button class="sidebar-toggle" (click)="toggleSidebar()">
  <i class="bi bi-list" [ngClass]="{'text-white': isSidebarOpen, 'text-black': !isSidebarOpen}"></i>
</button>

<div class="d-flex">
  
    <!-- Sidebar -->
    <div class="sidebar text-white p-3" [ngClass]="{'sidebar-open': isSidebarOpen}">
      
      <ul class="navbar flex-column">
        <li class="nav-item ">
            <a class="nav-link lista" routerLink="/products">NUEVA COLECCIÓN</a>
        </li>
 
        <li class="nav-item">
          <a class="tienda lista" (click)="toggleCategory('clothes')">TIENDA</a>
          <ul *ngIf="isCategoryOpen('clothes')" class="desplegable flex-column ms-3">
            <li class="nav-item list-group-item"><a class="nav-link text-white" routerLink="/products" [queryParams]="{ category: 'Camisetas y tops' }">TOPS</a></li>
            <li class="nav-item list-group-item"><a class="nav-link text-white" routerLink="/products" [queryParams]="{ category: 'Pantalones y faldas'}">FALDAS Y PANTALONES</a></li>
            <li class="nav-item list-group-item"><a class="nav-link text-white" routerLink="/products" [queryParams]="{ category: 'Vestidos'}">VESTIDOS</a></li>
            <li class="nav-item list-group-item"><a class="nav-link text-white" routerLink="/products" [queryParams]="{ category: 'Total look'}">TOTAL LOOKS</a></li>
            <li class="nav-item list-group-item"><a class="nav-link text-white" routerLink="/products" [queryParams]="{ category: 'Accesorios'}">ACCESORIOS</a></li>
          </ul>
        </li>
      
        <li class="nav-item">
            <a class="nav-link lista"routerLink="/about">SOBRE MODLESS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link lista"routerLink="/contacto">CONTACTO</a>
        </li>
      </ul>
    </div>

  </div>