@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lexend:wght@200&family=Outfit:wght@100..900&display=swap');

.sidebar-toggle {
  position: fixed;
  top: 40px;  /* Ajusta la posición */
  left: 20px; /* Ajusta la posición */
  z-index: 2000; /* El botón debe estar encima de la sidebar */
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(0, 0, 0);
  mix-blend-mode: difference;
}
.text-white {
  color: white !important;
}

.text-black {
  color: rgb(255, 255, 255) !important;
}
.button{
  background-color: transparent;
}

.sidebar {
    position: fixed;   /* Asegura que la sidebar esté fija al lado izquierdo */
    top: 0;
    left: -250px; /* Inicialmente fuera de vista */
    width: 250px;
    height: 100%;
    background-color: #000000;
    transition: left 0.3s ease; /* Animación suave cuando se abre o cierra */
    z-index: 1050; /* Sidebar debe estar encima del contenido */
    overflow-y: auto; /* Para permitir desplazamiento si hay demasiadas categorías */
  }
  
  /* Mostrar la sidebar cuando está abierta */
  .sidebar-open {
    left: 0; /* Cuando está abierta, coloca la sidebar en la vista */
  }
  
  /* Ajustes para las categorías */
  .navbar {
    width: 210px;
    padding-left: 0;
    padding-top: 90px;
    /* border: red solid 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item {
    /* border: green solid 1px; */
    padding: 3px;
    width: 190px;
    list-style: none;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  .lista{
    padding: 3px;
    width: 190px;
    list-style: none;
    padding-left: 8px;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-variation-settings:
      "slnt" 0; 
      font-size: large;
  }
  
  .tienda{
    text-decoration: none;
    text-decoration-color: none;
    list-style: none;
    cursor: pointer;
    font-size: large;
    color: #ffffff 
  }
.desplegable{
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;

}
  /* Estilo de botones dentro de la sidebar */
  .nav-item button {
    width: 100%;
    text-align:start;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {


    
  }