html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que body y html ocupen toda la altura de la ventana */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    padding-top: calc(5vh + 18vh); /* Empuja el contenido hacia abajo */
    
}

.header {
    height: 5vh;
    width: 100%;
    background-color: black;
    display: flex;
    padding-top: 2px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100; /* Asegura que siempre esté por encima */
}
.text{
    height: 3vh;
    display: flex;
    justify-content: center;
    padding-top: 1px;
}
h6{
    /* border: red solid 2px; */
    color:white;
    font-size: clamp(15px, 2vw, 12px);
    font-optical-sizing: auto; 
    font-style: normal;  
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
        
}
.subheader {
    height: 18vh;
    width: 100%;
    position: fixed;
    top: 5vh; /* Justo debajo del header */
    left: 0;
    z-index: 1000; /* Menor que el header pero sigue estando arriba */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    transition: background-color 0.3s ease-in-out;
}
.transparent {
    background-color: transparent !important;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logonegro {
    width: 200px; /* Ajusta según sea necesario */
    height: auto;
    cursor: pointer;
}
.icons{
    height: 60%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    min-width: 120px;
    margin-right: 15px;
}
/* Cambiar el color de los iconos a gris oscuro */
.bi {
    color: #586673;  /* Gris oscuro */
}

/* Puedes también aplicar un efecto de cambio de color en hover si lo deseas */
.bi:hover {
    color: #313a43;  /* Un gris aún más oscuro al pasar el ratón */
}
.btn{
    height: 30px;
    width: 40px;
    border: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content:center; 
}
.icon-auto {
    padding-left: 9px;
}

@media (max-width: 768px) {
    
    .header {
        height: 5vh; 
    }

    .subheader {
        height: 10vh;
        display: flex;
        justify-content: center; 
        padding: 0 10px; 
    }

    .logo {
        position: static; 
        transform: none;
    }
    .logonegro {
        width: 100px; 
        height: auto;
    }
    .icons {
        position: absolute;
        right: -9px; 
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: 1px; 
    }
}