<div class="products-page mt-4">
  <h2 class="text-center mb-4 section-title">{{ categoryTitle }}</h2> <!-- Cambia dinámicamente el título -->
  
  <div class="products row justify-content-center">
    <div class="col-md-4 col-sm-6 col-12 mb-3" *ngFor="let product of products">
      <div class="card product-card">
        <button [routerLink]="['/products', product.id_product]" class="image-button">
          <img [src]="product.image" [alt]="product.name" class="card-img-top product-image">
        </button>
        <div class="card-body text-center">
          <h5 class="product-name">{{ product.name }}</h5>
          <p>{{product.price}} €</p>
        </div>
      </div>
    </div>
  </div>
</div>