<div class="cart-container">
  <h1 class="cart-title">CESTA</h1>
  
  <!-- Carrito de productos -->
  <div *ngIf="cartItems.length > 0; else emptyCart" class="cart-items">
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="cart-item-info">
        <img [src]="item.image || 'default-image.jpg'" alt="Imagen del producto" class="cart-item-img" />
        <div class="cart-item-details">
          <h3 class="product-name">{{ item.name }}</h3>
          <p class="product-color">Color: {{ item.color }}</p>
          <p class="product-size">Tamaño: {{ item.size }}</p>
          <p class="product-price">{{ item.price }} €</p>
        </div>
      </div>
      
      <div class="cart-item-actions">
        <!-- Botones de cantidad -->
        <div class="quantity-controls">
          <!-- Botón para disminuir cantidad -->
          <button class="quantity-btn" (click)="updateQuantity(item.id_cart, item.quantity - 1)" [disabled]="item.quantity <= 1">-</button>
          
          <!-- Mostrar la cantidad actual -->
          <span class="quantity">{{ item.quantity }}</span>
        
          <!-- Botón para aumentar cantidad -->
          <button class="quantity-btn" (click)="updateQuantity(item.id_cart, item.quantity + 1)">+</button>
        </div>
        <!-- Subtotal -->
        <p class="product-subtotal">{{ item.subtotal }} €</p>
        <!-- Eliminar producto -->
        <button class="remove-btn" (click)="removeItemFromCart(item.id_cart)">Eliminar</button>
      </div>
    </div>
  </div>

  <!-- Si no hay productos en el carrito -->
  <ng-template #emptyCart>
    <p class="empty-cart-message">Tu carrito está vacío. ¡Añade productos para comenzar!</p>
  </ng-template>

  <!-- Resumen del carrito -->
  <div *ngIf="cartItems.length > 0" class="cart-summary">
    <div class="subtotal">
      <span>Subtotal:</span>
      <span class="subtotal-amount">{{ subtotal }} €</span>
    </div>

    <!-- Descuento -->
    <!-- <div class="discount-section">
      <input [(ngModel)]="discountCode" placeholder="Código de descuento" class="discount-input" />
      <button class="apply-discount-btn" (click)="applyDiscount()">Aplicar</button>
    </div> -->

    <!-- <div *ngIf="discountError" class="discount-error">¡Código de descuento inválido!</div> -->

    <!-- Total -->
    <!-- <div class="total">
      <span>Total:</span>
      <span class="total-amount">{{ totalAmount}} €</span>
    </div> -->

    <button class="checkout-btn" (click)="router.navigate(['/shipping'])">Proceder con la compra</button>
  </div>
</div>
