<!-- <div class="cart-container">
    <h2 class="cart-title">Tu Carrito</h2>
    
    <div *ngIf="cartItems.length > 0; else emptyCart" class="cart-items">
      <div class="cart-item" *ngFor="let item of cartItems">
        <div class="item-info">
          <img [src]="item.image" alt="{{ item.name }}" class="item-image">
          <div class="item-details">
            <h4>{{ item.name }}</h4>
            <p>{{ item.color }} - {{ item.size }}</p>
            <p>{{ item.price }} €</p>
          </div>
        </div>
  
        <div class="item-quantity">
          <button (click)="updateQuantity(item.id_variant, item.quantity - 1)">-</button>
          <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item.id_variant, item.quantity)" min="1">
          <button (click)="updateQuantity(item.id_variant, item.quantity + 1)">+</button>
        </div>
  
        <button class="remove-btn" (click)="removeItemFromCart(item.id_variant)">Eliminar</button>
      </div>
      
      <div class="cart-total">
        <p><strong>Total: {{ totalAmount }} €</strong></p>
        <button class="checkout-btn">Proceder al Pago</button>
      </div>
    </div>
  
    <ng-template #emptyCart>
      <p>No hay productos en tu carrito.</p>
    </ng-template>
  </div> -->
