<div class="cart-container">
  <h1>Tu Carrito</h1>
  
  <!-- Mostrar un mensaje si el carrito está vacío -->
  <div *ngIf="cartItems.length === 0">
    <p>Tu carrito está vacío. ¡Agrega algunos productos!</p>
  </div>

  <!-- Mostrar los productos en el carrito -->
  <div *ngIf="cartItems.length > 0">
    <div class="cart-item" *ngFor="let item of cartItems">
      <div class="cart-item-image">
        <img [src]="item.image" alt="{{ item.name }}">
      </div>
      <div class="cart-item-details">
        <h3>{{ item.name }}</h3>
        <p><strong>Color:</strong> {{ item.color }}</p>
        <p><strong>Talla:</strong> {{ item.size }}</p>
        <p><strong>Precio:</strong> ${{ item.price }}</p>
        <p><strong>Cantidad:</strong>
          <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item.id_variant, item.quantity)" min="1">
        </p>
        <button (click)="removeItemFromCart(item.id_cart)">Eliminar</button>
      </div>
    </div>

    <div class="cart-summary">
      <p><strong>Total:</strong> ${{ totalAmount }}</p>
      <button routerLink="/shipping" class="checkout-btn">Proceder con el pago</button>
    </div>
  </div>
</div>