<body>
    <div class="contenedor">
        <div class="section">
            <h2>CAMBIOS Y DEVOLUCIONES</h2>
            <p>El plazo para solicitar una devolución es de 15 días naturales a partir de la recepción del producto. Superado este plazo no se aceptarán ni cambios ni devoluciones.</p>
        </div>
        
        <div class="section">
            <h3>PROCESO PARA CAMBIOS O DEVOLUCIONES</h3>
            <p>Para efectuar un cambio o una devolución contáctanos a través del email <a href="mailto:contact@modless.com">contact&#64;modless.es</a> y te daremos las instrucciones para llevarla a cabo.</p>
            <p>Los gastos de devolución corren a cargo del comprador que podrá gestionarlo con su propio transportista o solicitar que la gestionemos, en este caso, los gastos derivados del envío serán descontados del reembolso final.</p>
            <p>No se aceptarán devoluciones de productos en malas condiciones o con signos de haber sido utilizados.</p>
            <p>En caso de que el motivo del cambio sea por un defecto del producto, los gastos de envío serán gratuitos para el comprador.</p>
        </div>
        
        <div class="section">
            <h3>REEMBOLSO</h3>
            <p>Una vez recibido y revisado el producto devuelto, el reembolso se procesará en un plazo máximo de 5 días naturales mediante transferencia bancaria a la misma cuenta que se realizó el pago.</p>
            <p>Los costes de envío originales no serán reembolsados.</p>
        </div>
    </div>
    
    <script>
        window.onload = function() {
            window.scrollTo(0, 0);
        };
    </script>
    
    </body>