<body>
<div class="contenedor">
    <div class="section">
        <h3>POLÍTICA DE ENVÍOS</h3>
    </div>
    
    <div class="section">
       <p>En Modless creemos en la moda lenta y sostenible por lo que nos regimos por una política de stock cero, producimos lo justo para evitar el sobrestockage. Por esta razón nuestros tiempos de producción pueden tomar entre 3 a 10 días laborales dependiendo del producto.</p>
        <p>Los tiempos de producción y procesamiento están determinados en la página de cada producto y ponemos a vuestra disposición el e-mail contact&#64;modless.es para resolver cualquier duda.</p>
    </div>
    
    <div class="section">
        <h3>COSTES DE ENVÍO</h3>
        <p>Envío nacional estándar a domicilio (peninsular): 4,99€ (Envío gratis en pedidos superiores a 50 €)</p>
        <p>Envío insular estándar a domicilio (Canarias y Baleares): 9,99€ (Envío gratis en pedidos superiores a 150€)</p>
        <h6 class="envio-title">INTERNACIONAL</h6>
        <p>Recogida en punto pack Gratis + 150€</p>
        <p>Recogida en punto pack Zona 1 (Francia, Bélgica, Luxemburgo) 6.99€</p>
        <p>Recogida en punto pack Zona 2 (Polonia, Italia, Alemania, Austria) 9.99€</p>
    </div>
</div>

<script>
    window.onload = function() {
        window.scrollTo(0, 0);
    };
</script>

</body>