<body>
<div class="container mt-5">
  <h2>DATOS DE FACTURACIÓN</h2>
  <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group mb-3">
      <label for="name">Nombre Completo</label>
      <input type="text" id="name" formControlName="name" class="form-control" required />
      <div *ngIf="shippingForm.get('name')?.invalid && shippingForm.get('name')?.touched" class="text-danger">
        El nombre completo es obligatorio.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="address">Dirección</label>
      <input type="text" id="address" formControlName="address" class="form-control" required />
      <div *ngIf="shippingForm.get('address')?.invalid && shippingForm.get('address')?.touched" class="text-danger">
        La dirección es obligatoria.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="city">Ciudad</label>
      <input type="text" id="city" formControlName="city" class="form-control" required />
      <div *ngIf="shippingForm.get('city')?.invalid && shippingForm.get('city')?.touched" class="text-danger">
        La ciudad es obligatoria.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="province">Provincia</label>
      <input type="text" id="province" formControlName="province" class="form-control" required />
      <div *ngIf="shippingForm.get('province')?.invalid && shippingForm.get('province')?.touched" class="text-danger">
        La provincia es obligatoria.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="country">País</label>
      <select id="country" formControlName="country" class="form-control" (change)="onCountryChange($event)">
        <option *ngFor="let country of availableCountries" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>
    
    <div class="form-group mb-3">
      <label for="community">Comunidad Autónoma</label>
      
      <!-- Si el país es España, mostrar un SELECT -->
      <select *ngIf="selectedCountry === 'España'" id="community" formControlName="community" class="form-control">
        <option *ngFor="let region of regionsByCountry['España']" [value]="region">{{ region }}</option>
      </select>
      
      <!-- Si el país es otro, mostrar un INPUT -->
      <input *ngIf="selectedCountry !== 'España'" type="text" id="community" formControlName="community" class="form-control" placeholder="Escribe tu comunidad" />
    </div>

    

    <div class="form-group mb-3">
      <label for="phone">Teléfono</label>
      <input type="text" id="phone" formControlName="phone" class="form-control" required />
      <div *ngIf="shippingForm.get('phone')?.invalid && shippingForm.get('phone')?.touched" class="text-danger">
        El teléfono es obligatorio.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="shippingForm.invalid">
      Enviar
    </button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
  </div>
</div>

</body>
