<body>
    <div class="contenedor">
      <div class="section">
        <h2>TÉRMINOS Y CONDICIONES</h2>
      </div>
  
      <div class="section">
        <h3>1. INFORMACIÓN GENERAL</h3>
        <p>El presente documento establece los Términos y Condiciones de uso del sitio web www.modless.es (en adelante, "la web"), propiedad de Nuria de la Barrera Cebrián, con 
          NIF/CIF 53718019R y domicilio en Avenida de Islandia 106. Portal A, 1º A.  </p>
        <p>El uso de esta web implica la aceptación plena y sin reservas de estos términos y 
          condiciones. Si no estás de acuerdo, por favor, no utilices la web. </p>
        </div>
  
      <div class="section">
        <h3>2. CONDICIONES DE USO</h3>
        <p>El usuario se compromete a:</p>
        <ul>
          <li>No utilizar la web para actividades ilícitas o contrarias a la buena fe y al orden público.</li>
          <li>No intentar dañar, inutilizar o sobrecargar la web.</li>
          <li>No utilizar datos falsos o suplantar la identidad de terceros.</li>
        </ul>
        <p>Nos reservamos el derecho de restringir el acceso a la web o cancelar cuentas de usuarios que incumplan estas normas.</p>
      </div>
  
      <div class="section">
        <h3>3. PROPIEDAD INTELECTUAL</h3>
        <p>Todos los contenidos de la web (textos, imágenes, logotipos, diseño, software, etc.) son propiedad del titular o de terceros autorizados. No se permite su reproducción, distribución o modificación sin permiso expreso.</p>
      </div>
  
      <div class="section">
        <h3>4. PROTECCIÓN DE DATOS</h3>
        <p>El tratamiento de datos personales se rige por nuestra Política de Privacidad, disponible en <a href="/privacidad">Política de privacidad</a>.</p>
      </div>
  
      <div class="section">
        <h3>5. EXCLUSIÓN DE RESPONSABILIDAD</h3>
        <p>No garantizamos la disponibilidad o continuidad del servicio de la web. No nos hacemos responsables de daños derivados del uso del sitio, errores técnicos o ataques informáticos.</p>
      </div>
  
      <div class="section">
        <h3>6. MODIFICACIONES</h3>
        <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios entrarán en vigor tras su publicación en la web.</p>
      </div>
  
      <div class="section">
        <h3>7. LEGISLACIÓN Y JURISDICCIÓN</h3>
        <p>Estos términos se rigen por la legislación española. Cualquier disputa será sometida a los Juzgados y Tribunales de Madrid.</p>
      </div>
  
  
    </div>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>