<body>
    <div class='contenedor'>
        <div class='title'>
            <h3>SOBRE MODLESS </h3>
        </div>
        <div class="bloque1">
            <div class='text1'>
                
                <p>En Modless creemos que la moda no se trata de seguir tendencias, si no de crear prendas con alma, de calidad y que perduren en el tiempo. La moda lenta es nuestro ADN, por ello todas las prendas se diseñan y producen en España con una política de stock cero. 
                <p>Nuestras prioridades son la comodidad y el diseño por ello ofrecemos prendas que se adapten fácilmente al cuerpo de cada mujer para que se sientan seguras de sí mismas cuando las lleven puesta.
                    </p>
                <p>Abogamos por un estilo de vida lenta, consciente y sostenible. Utilizamos fibras naturales y recicladas con el deseo de minimizar el impacto medioambiental en nuestros procesos de producción.</p>
                <p>Modless es más que una marca, es un compromiso con el presente y con el futuro. Fieles a nuestro lema “Slow is the new black” invitamos a todas las mujeres a unirse a este movimiento de estilo de vida consciente, donde es imprescindible apreciar los detalles y valorar el trabajo y el buen hacer. Nosotros nos comprometemos a seguir aportando nuestro granito de arena para hacer de este mundo algo mejor.</p>
            </div>
            <div class="image">
                <img class='photo' src="/about1.jpg">
            </div>
           
        </div>
            
        <div class="bloque2">
            <div class="image">
                <img class='photo' src="/about2.jpg">
            </div>
            <div class='text2'>
                <p>At Modless, we believe that fashion is not about following trends but about creating garments with soul, quality, and longevity. Slow fashion is our DNA; that’s why all our pieces are designed and produced in Spain with a zero-stock policy.
                </p>
                <p>Our priorities are comfort and design. That’s why we offer garments that easily adapt to every woman's body, allowing them to feel confident when wearing them.
                <p>We stand for a slow, conscious, and sustainable lifestyle. We use natural and recycled fibers with the goal of minimizing the environmental impact of our production processes.</p>
                <p>Modless is more than just a brand—it is a commitment to the present and the future. Staying true to our motto, "Slow is the new black," we invite all women to join this conscious lifestyle movement, where appreciating details and valuing craftsmanship are essential. We are committed to doing our part to make the world a better place.</p>
            </div>
            
        </div>
       
    </div>
</body>